.top {
    padding: 80px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.posts {
    border: 5px solid;
    padding: 50px;
    border-radius: 20px;
}

body {
    background-color: #80BCBD;
}

.post {
    padding-top:20px;
    padding-bottom: 20px;
}

#volEvents {
    background-color: #96e5e7;
    transform: skewX(-15deg);
    filter: drop-shadow(20px 12px 0px black);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
