.top {
    padding: 80px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.posts {
    border: 5px solid;
    padding: 50px;
}

body {
    background-color: #80BCBD;
}
.post {
    padding-top:20px;
    padding-bottom: 20px;
}
