.logo {
    background-color: #F9F7C9;
    padding: 50px;
    gap: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
h2 {
    font-size:40px;
}
.name {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.loginRegistrationButtons {
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    border: none;
    font-size: 16px;
}

.loginRegistrationButtons:hover {
    cursor: pointer;
    background-color: lightgray;
}

.top {
    padding: 80px;
    margin: auto;
    text-align: center;
    width: 50%;
}

.login {
    border: 5px solid;
    padding: 10px;
    border-radius: 20px;    
}

.register {
    border: 5px solid;
    padding: 10px;
    border-radius: 20px;
}

.loginAndRegister {
    padding: 50px;
    display: flex;
    flex-direction: row;
    gap: 20%;
}
